/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #333;
    line-height: 1.6;
}

.sticky-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #1C3C70;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.top-nav a {
    color: #a9aeb8;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.top-nav a:hover {
    color:
        #ffffff;
    font-size: 1.4rem;
    transform: scale(1.1);
}

.top-nav a.active {
    color:
        #ffffff;
    font-size: 1.5rem;
}

.section {
    padding: 60px 20px;
    height: 100vh;
    margin-bottom: 40px;
}


.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:
        100vh;
    padding-top: 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:
        100vh;
    padding-top: 50px;
}

.about-name {
    font-size: 3.5rem;
    font-weight: 700;
    color: #1C3C70;
    margin-bottom: 10px;
}

.contact-details {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 15px;
}

.summary {
    font-size: 1.3rem;
    color: #4F4F4F;
    line-height:
        1.6;
}

.about-icons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.about-icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.about-icons a img:hover {
    transform: scale(1.1);
}

.education-entry {
    margin-bottom: 20px;
}

.education-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.course-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1C3C70;
}

.duration {
    font-size: 1.2rem;
    color: #666;
    text-align: right;
}

.college-name {
    font-size: 1.2rem;
    color: #4F4F4F;
    margin-left: 5px;
}

h2 {
    font-family:
        'Poppins ', sans-serif;
    font-size: 2rem;
    color: #1C3C70;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom:
        10px;
}

p,
ul {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type:
        none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

section {
    padding: 40px 20px;
}

.container {
    max-width:
        1000px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    background-color: #1C3C70;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}